.audio_bar {
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042330;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
}

.book__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    width: calc(100% / 3);
}

.book__img--wrapper {
    width: 48px;
    height: 48px;
    min-width: 48px
}

.book__img {
    width: 100%;
    height: 100%;
}

.book__info {
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.book_author {
    color: #bac8ce;
}

.player__wrapper, .audio__progress {
    width: calc(100% /3);
}

.audio__progress {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 16px;
}

.audio__time {
    columns: #fff;
    font-size: 14px;
}

@media (max-width: 768px) {
    .audio_bar {
        display: flex;
        flex-direction: column;
        height: 200;
        padding: 16px 24px;
    }

    .book__wrapper {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .seach_combo {
        width: 300px;
    }
}