.bar{
  display:flex; align-items:center; gap:28px;
  background:#082531; color:#eaf3f7;
  padding:10px 16px;

  width: calc(100% / 3 *2)
}

.controls{ 
    display:flex; 
    align-items:center; 
    justify-content: center;
    gap:22px;
    width: 50%;
}

.iconBtn{
  /* display:grid; place-items:center; */
  display: flex;
  align-items: center;
  justify-content: center;
  width:36px; height:36px; border-radius:999px;
  color:#fff; background:transparent; 
  /* border:1px solid rgba(255,255,255,.25); */
  cursor:pointer;
}
.iconBtn:hover{ background:rgba(255,255,255,.07); }

.playBtn{
  display:grid; place-items:center;
  width:44px; height:44px; border-radius:999px;
  background:#fff; color:#0b2a39; border:none; cursor:pointer;
  box-shadow:0 2px 10px rgba(0,0,0,.25);
}

.innerIcon {
    color: #082531;
    fill: #082531;
}

.progressWrap{
  flex:1;
  display:grid; grid-template-columns:auto 1fr auto; align-items:center; gap:16px;
  width: 50%;
}

/* times */
.time{ font:600 14px/1 system-ui, -apple-system, Segoe UI, Roboto, Arial; }

/* slider (WebKit only) */
.slider{
  --track-h:6px; --track-bg:#7f8a91; --fill:#22d07a; --thumb:#fff; --val:0%;
  -webkit-appearance:none; width:100%; height:var(--track-h);
  background:linear-gradient(var(--fill),var(--fill)) 0/var(--val) 100% no-repeat, var(--track-bg);
  border-radius:999px; outline:none;
}
.slider::-webkit-slider-runnable-track{
  height:var(--track-h); background:transparent; border-radius:999px;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance:none; width:14px; height:14px; border-radius:50%;
  background:var(--thumb);
  margin-top:calc((var(--track-h) - 14px)/2);
  box-shadow:0 0 0 2px rgba(8,37,49,.2); cursor:pointer;
}


@media (max-width: 768px) {
    .bar {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .controls {
      width: 100%;
    }

    .progressWrap {
      width: 100%;
    }
}

@media (max-width: 576px) {
    .seach_combo {
        width: 300px;
    }
}