.audio_bar {
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042330;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
}

.book__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    width: calc(100% / 3);
}

.book__img {
    width: 48px;
    height: 48px;
}

.book__info {
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.player__wrapper, .audio__progress {
    width: calc(100% /3);
}

.audio__progress {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 16px;
}

.audio__time {
    columns: #fff;
    font-size: 14px;
}