.auth__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth {
    position: relative;
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.auth, .auth__wrapper {
    z-index: 999;
}

.auth__close--btn {
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 32px;
    cursor: pointer;
}

.auth__content {
    padding: 48px 32px 24px;
}

.auth__content--title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 24px;
}

.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    transition: backgroud-color 0.2s;
}

.btn:hover {
    background-color: #20ba68;
}

.login__guest {
    position: relative;
    display: flex;
    background-color: #3a579d;
    color: white;
    justify-content: center;
}

.login__guest:hover {
    background-color: #25396b !important;
}

.guest__icon {
    position: absolute;
    left: 4px;
    width: 21px;
    height: 24px;
}

.auth__separator {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.auth__separator::after, .auth__separator::before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8cc;
}

.auth__separator--text {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 500;
    color: #394547;
}

.login__google {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #4285f4;
}

.login__google:hover {
    background-color: #3367d6 !important;
}

.goole__icon--mask {
    position: absolute;
    left: 2px;
    background-color: white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth__input {
    height: 40px;
    width: 100%;
    border: 2px solid #bac8cc;
    color: #394547;
    padding: 0 12px;
}

.auth__forgot--pwd{
    text-align: center;
    color: #116be9;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto 16px;
    width: fit-content;
}

.auth__switch{
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    border-radius: 0 0 4px 4px;
}