.title{
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
    font-size: 32px;
    color: #032b41;
    margin-bottom: 32px;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 24px;
}

.subtitle{
    font-size: 18px;
    font-weight: 700;
    color: #032b41;
}

.text {
    color: #032b41;
}

.settingLogin__Wrapper{
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.loginText {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}

.loginBtn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100px;
    min-width: 180px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}